.footer {
  position: relative;
  bottom: 0;
  z-index: 0;
  padding: 60px 0 50px;
  margin-top: 50px;
  background: $teal;

  .github-logo {
    width: 130px;
    height: 40px;
    margin-left: -10px;
  }

  ul {
    display: inline-block;
    width: 32%;
    padding-right: 50px;
    vertical-align: top;
  }

  li {
    &:nth-child(1) {
      padding-bottom: 25px;
      font: 25px $helveticaneue-bold;
    }

    &:nth-child(2) {
      font: 20px $helveticaneue-bold;
    }

    &:nth-child(3) {
      padding: 5px 0 25px;
      font: 14px $helveticaneue-light;
    }

    &:nth-child(4) {
      padding-bottom: 25px;
      font: 14px $helveticaneue-medium;
      color: $turquoise;
    }

    &:nth-child(5) {
      padding-bottom: 25px;
      font: 14px $helveticaneue-light;
      color: $white;
    }

    &:nth-child(6) {
      font: 11px $helveticaneue-medium;
      color: $turquoise;
    }
  }

  .footer-blog {
    padding-top: 15px;
  }


  .footer-github,
  .footer-blog {
    li {
      &:nth-child(2) {
        font: 20px $helveticaneue-bold;
      }

      &:nth-child(3) {
        padding: 5px 0;
        font: 20px $helveticaneue-medium;
      }

      &:nth-child(4) {
        padding: 5px 0 25px;
        font: 14px $helveticaneue-light;
        color: $white;
      }

      &:nth-child(5) {
        padding-bottom: 25px;
        font: 14px $helveticaneue-medium;
        color: $turquoise;
      }
    }
  }


  a,
  a:visited {
    color: $white;

    &:hover {
      color: $pink;
    }

  }

  .name {
    display: inline-block;
    padding-left: 10px;
    margin-top: -20px;
    vertical-align: middle;
  }

  .snippet {
    max-width: 245px;

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }

  .data {
    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding-top: 5px;
      margin-right: 20px;
      text-align: center;

      &:hover {
        color: $teal;
        background: $white;
      }
    }

    p:nth-child(1) {
      padding-bottom: 3px;
      font: 20px $helveticaneue-medium;
    }

    p:nth-child(2) {
      font: 14px $helveticaneue-light;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1239px) {
  .footer {
    ul {
      padding-right: 10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer ul {
    display: none;

    &:first-child {
      display: block;
      width: 100%;
      padding-right: 0;
    }
  }
}
