@media only screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 20%;
    height: 3000px;
    // max-width: 315px;
    color: $white;
    background: $teal;

    a,
    a:visited {
      text-decoration: none;
    }

    .logo {
      position: fixed;
      bottom: 0;
      z-index: 1000;
      width: 10%;
      margin-left: 6%;
    }

    .sub-menu {
      display: none;
    }
  }

  .content {
    position: relative;
    top: 50px;
    display: block;
    min-height: 1000px;
    margin-left: 20%;
  }

  .navigation-main {
    position: absolute;
    top: 0;
    z-index: 105;
    width: 100%;
    height: 700px;
    background-color: $teal;

    .nav-trigger {
      display: none;
    }

    .home {
      font: 15px $helveticaneue-bold;

      span {
        font: 15px $helveticaneue-light;
      }

      .bold {
        font: 15px $helveticaneue-bold;
      }
    }

    .tablet-logo {
      display: none;
    }

    img {
      display: none;
      width: 36px;
      height: 36px;
      padding-right: 10px;
      vertical-align: middle;
    }

    .title,
    .arrow {
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      width: 80%;
    }

    .arrow {
      padding: 5px 20px 0 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .cls-2,
    .cls-1 {
      fill: none;
      stroke: $white;
      stroke-miterlimit: 10;
      stroke-width: 1px;
    }


    a {
      &,
      &:link,
      &:visited,
      &:active {
        display: block;
        padding: 20px 0 20px 25px;
        font: 20px $helveticaneue-light;
        color: $white;
      }

      &:hover,
      &.active {
        font: 20px $helveticaneue-bold;
        color: $content;
        background: $turquoise;

        .cls-1 {
          stroke: $content;
        }
      }
    }

    span {
      vertical-align: middle;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .header {
    .logo {
      width: 10%;
      margin-left: 10%;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {

  .subscribe {
    margin-left: 90px;
  }

  .header {
    width: 16%;
  }

  .logo {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 10%;
    margin-left: 6%;
  }

  .content {
    margin-left: 16%;
  }

  .navigation-main {
    .title {
      width: 65%;
    }

    a,
    a:link,
    a:visited,
    a:active {
      padding-left: 15px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .header {
    width: 7%;
  }

  .content {
    margin-left: 7%;
  }

  .logo {
    display: none;
  }

  .navigation-main {
    .tablet-logo {
      display: block;

      img {
        width: 45px;
        height: 45px;
      }
    }

    a,
    a:link,
    a:visited,
    a:active {
      padding: 17px 0;
    }

    .home {
      display: none;
    }

    li {
      .title,
      .cls-1,
      .arrow {
        display: none;
      }

      img {
        display: block;
        padding-right: 0;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    position: relative;
    z-index: 1;
    color: $white;
    background: $teal;

    img,
    svg,
    .tray,
    .tablet-logo {
      display: none;
    }

    .navigation-main {
      position: relative;
      float: left;
      width: 100%;
      height: 50px;
      font-size: 20px;
      line-height: 50px;
      color: $white;
    }

    .home-link {
      font-size: 20px;
      color: $white;

      &:hover,
      &:focus {
        color: inherit;
      }

      .bold {
        font: 20px $helveticaneue-bold;
      }
    }

    .home {
      padding: 0 25px;

      button {
        position: relative;
        float: right;
        width: 35px;
        height: 44px;
        overflow: hidden;
        text-indent: -900em;
        cursor: pointer;
        background: inherit;
        border: 0;
        outline: none;

        &::after {
          position: absolute;
          top: 15px;
          left: 0%;
          width: 100%;
          height: 2px;
          background: $white;
          content: '';
          box-shadow: 0 10px 0 $white, 0 20px 0 $white;
        }
      }
    }

    .main-menu {
      width: 100%;
      max-height: 480px;
      overflow: scroll;
      pointer-events: none;
      background: $teal;
      opacity: 0;
      transform: translateY(10px);
      backface-visibility: hidden;

      &.menu-toggle {
        transition: all 0.5s ease;
      }

      &.menu-open {
        z-index: 1;
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
      }

      li {
        position: relative;
      }

      a {
        &,
        &:link,
        &:visited {
          position: relative;
          display: block;
          padding: 0 25px;
          font: 24px $helveticaneue-light;
          line-height: 60px;
          color: $white;
          cursor: pointer;
          outline: none;
        }

        &:hover {
          font: 24px $helveticaneue-bold;
          line-height: 60px;
          color: $content;
          background: $turquoise;

          // Need to update on hover state
          // scss-lint:disable SelectorDepth NestingDepth
          .cls-1 {
            stroke: $content;
          }
        }
      }

      .sub-menu {
        display: none;
      }

      // Need to display inner menu and use on all elements
      // scss-lint:disable SelectorDepth NestingDepth QualifyingElement

      &.sub-view {
        li,
        li.sub-view-open > a {
          display: none;
        }

        .sub-view-open,
        .sub-view-open > .sub-menu,
        .sub-view-open > .sub-menu > li {
          display: block;
        }
      }
    }

    .arrow {
      float: right;
      padding: 21px 9px 0 0;

      svg {
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    .cls-2,
    .cls-1 {
      fill: none;
      stroke: $white;
      stroke-miterlimit: 10;
      stroke-width: 1px;
    }

    .back {
      background: $base-black;

      .arrow {
        float: left;
        padding: 21px 0 0 30px;
        transform: rotateY(180deg);
      }
    }
  }
}
